<div class="container">
  <h1 class="title">Projected content control</h1>
  <ax-control [labelText]="labelText"
              [isDisabled]="isDisabled">
    <input [formControl]="control"
           [attr.disabled]="isDisabled ? '' : null"
           placeholder="Enter the number"
           class="control">
    <validator *ngIf="control?.touched && control.value === '' && !isDisabled"
               [when]="control.errors?.['required']">
      This input is required
    </validator>
    <validator *ngIf="control?.invalid && control.value !== '' && control?.touched && control?.dirty  && !isDisabled"
               [when]="control.errors?.['minLength']">
      Text should be at least 2 symbols
    </validator>
  </ax-control>

  <button (click)="toggleDisableControl()">Click me to disable control</button>
</div>
