<div class="container">
  <h1 class="title">Projected content control</h1>

  <form [formGroup]="form" class="form">
    <ax-control [labelText]="labelText"
                [isDisabled]="isDisabled">
      <input [ngClass]="{'disabled': isDisabled}"
             formControlName="control"
             placeholder="Enter the number"
             class="control">
      <button *ngIf="form.get('control')?.value !== null && !isDisabled" ngProjectAs=".control" class="close-button" (click)="clearControl()">
        <i class="close-icon"></i>
      </button>
      <validator *ngIf="form.get('control')?.dirty
              && (form.get('control')?.value === null
              || form.get('control')?.value === '')
              && !isDisabled"
                 [when]="form.get('control')?.errors?.['required']">
        This input is required
      </validator>
      <validator *ngIf="form.get('control')?.invalid
              && form.get('control')?.value !== null
              && form.get('control')?.value !== ''
              && !isDisabled"
                 [when]="form.get('control')?.errors?.['minLength']">
        Text should be at least 2 symbols
      </validator>
    </ax-control>
  </form>
  <button (click)="toggleDisableControl()">Click to disable\enable control</button>
</div>
