@import "_variables";
@import "_mixins";

:host ::ng-deep {
  .ax-control {
    width: fit-content;
    min-height: 90px;
    padding: 6px 4px;

    .label {
      @include text($font-family-base, $font-large, $font-weight-bold);
      color: $text-dark-grey;
      margin: 0 0 6px 4px;
    }

    .disabled {
      color: $text-light-grey;
    }

    .form {
      position: relative;
      width: inherit;
      display: flex;
      align-items: center;

      .control {
        @include text($font-family-base, $font-base, $font-weight-regular);
        display: block;
        width: inherit;
        padding: 6px 4px;
        color: $text-dark-grey;
        border: 1px solid $border-grey;
        border-radius: 4px;
      }

      .control.ng-dirty.ng-invalid {
        border-color: $red;
        background: url("/../../assets/icons/warning.svg") no-repeat 83% 50%;
        background-size: 18px;
      }

      .close-icon {
        position: absolute;
        right: 4px;
        width: 20px;
        height: 20px;
        background-color: $background-grey;
        border-radius: 50%;
      }

      .close-icon:after {
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        left: 2px;
        width: 14px;
        height: 14px;
        background: url("/../../assets/icons/close.svg") no-repeat 95% 50%;
      }

      .close-icon:hover {
        cursor: pointer;
      }

      .control::placeholder {
        color: $text-light-grey;
        opacity: 1;
      }

      .control:hover {
        background-color: $background-grey;
      }

      .control:focus {
        outline: none;
        border: 1px solid $blue;
        background-color: $white;
        caret-color: $blue;
      }
    }
  }
}
